node_modules/
**/node_modules/**
packages/*/node_modules/**
server/node_modules/**
client/node_modules/**
*.lkml
*.ts
*.md
*.map
.vscode/
.vscode-test/
test/
tests/
src/
out/test/
**/*.tsbuildinfo
package-lock.json
yarn.lock